@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');


.container{
  margin: 0;
  padding: 0;
}


.heading{
    font-weight: 900;
    font-size: 62px;
    color: #201F1D;
}
.heading span{
  color: rgb(113 , 0 , 255);
}

p{
  margin: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #787878;
}

form {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    line-height: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.custom-file-input {
    display: none;
  }
  
  .custom-file-label {
    background-color: aqua;
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .custom-file-input:focus + .custom-file-label {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  input[type="text"]{
    margin-top: 5px;
    padding: 10px;
  }

  button[type="submit"]{
    border: none;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;    
  }
.postbox{
    margin-left: 90px;
    margin-top: 50px;
    border: 1px solid black;
}

.cap{
    margin-left: 5px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}
.post {
    margin-left: 90px;
}

.headPost{
    margin-left: 90px;
}


.post{
  display: flex;
  flex-wrap: wrap;
}

.header-banner{
  position: relative;
  background-image: url(./banner.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding: 100px 0 100px;
}
.office-img{
  width: 100%;
}


/*main page css*/

.img > img{
  width: 1450px;
  border-radius: 20px;
  margin-left: 5px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img{
  padding: 10px;
  position: relative;
  text-align: center;
  color: black;
  margin-left: 20px;

}

.text {
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px;

font-weight: bolder;
}

.button {
  position: absolute;
  bottom: 250px;
  left: 28%;
  padding: 15px;
  width: 12%;
  height: 10%;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
}

.button:hover{
  background-color: #fa9107;
}
.btn{
  text-align: center;
}


.poster > img {
  width: 1450px;
  border-radius: 10px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detailBox{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
   position: absolute;
  background: lightgray;
  height: 60px;  
  width: 70%;
 left: 200px;
  top: 610px;
  padding: 10px;
  justify-content: space-around;
  height: 100px;
  background-color: #fa9107;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.poster{
  margin-top: 90px;
  margin-left: 25px;
}

.detailBox > div {
  margin-top: 15px;
}


select {
  border: none;
  border-radius: 10px;
  padding: 5px;
}
label{
  font-weight: 500;
}

