:root{
    --primary : rgb(113 , 0 , 255)
}


.navbar-brand > img {
    height: 60px;
    width: 150px;
    object-fit: cover;
}

.navbar-nav {
    margin-left: 400px;
}

.nav-item {
    margin: 0 10px;
    text-decoration: none;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
}

.nav-link:hover {
    color: grey;
}
.nav-link{
color: black;
font-weight: bolder;
}

#home{
    color: var(--primary);
}


.sign-in{
    background-color: #201F1D;
    border: 1px solid #201F1D;
    box-shadow: inset 0 0 0 #ffffff;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
}

.sign-up{
    background-color: #FFA633;
    border: 1px solid #FFA633;
    box-shadow: inset 0 0 0 #ffffff;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 1rem;
    text-decoration: none;
}

